<button
  (click)="openDialog()"
  matFab
  class="add-user-btn"
  matTooltip="Info about the action"
  [matTooltipPosition]="'above'"
>
  <mat-icon>add</mat-icon>
</button>

<mat-card class="example-card" appearance="outlined">
  <mat-card-content>
    <table class="full-width user-table">
      <!-- @for (user of users(); track $index) {
        <tr>
          <th>Name</th>
          <th>E-mail</th>
          <th>City</th>
        </tr>

        <tr>
          <td>{{ user.firstName }}{{ user.lastName }}</td>
          <td>{{ user.street }}</td>
          <td>{{ user.city }}</td>
        </tr>
      } @empty {
        <div>Noch keine User daten</div>
      } -->
      <!-- <p>{{ users().length }}</p> -->
      <tr>
        <td>asdasd</td>
        <td>asfdsadf</td>
        <td>gfsafasdf</td>
      </tr>
    </table></mat-card-content
  >
</mat-card>
